<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<h2> Registration </h2>
<!--user class user is passed & message + we must validate the inputs -->
<form autocomplete="off"   th:action="@{/register}" th:object="${user}" th:method="post">
     First Name: <input type="text" placeholder="First Name" th:field="*{firstName}" id="firstName"/>
    <mark><strong>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Invalid first name </span>
    </strong></mark>
    <br/>

     Last Name: <input type="text" placeholder="Last Name" th:field="*{lastName}" id="lastName"/>
    <mark><strong>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid Last name </span>
    </strong></mark>
    <br/>

     Email: <input type="email" placeholder="Email" th:field="*{email}" id="email">
    <mark><strong>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid email format </span>
    </strong></mark>
    <br/>

     Username: <input type="text" placeholder="User Name" th:field="*{username}" id="username"/>
    <mark><strong>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Invalid first name </span>
    </strong></mark>
    <br/>

     Password: <input type="text" placeholder="password" th:field="*{password}" id="password"/>
    <mark><strong>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid first name </span>
    </strong></mark>
    <br/>

    <input type="submit" value="Register">
    <div th:if="${param.logout}">You have been logged out</div>




</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>